<main class="pa0 black-80">
  <div class="measure center">
    <%= render partial: "transactions/add" %>
    <fieldset class="ba b--transparent ph0 mh0">
        <legend class="tc f4 fw6 mh0"><%= current_user.name %>'s Transaction History</legend>
        <% if current_user.transactions.empty?%>
            <label class="fw6 lh-copy f6">You have no transaction history; create a transaction to get going!</label>
        <% else %>
            <ol class="pl0 ml0 ba b--light-silver br3"><%= render partial: "transactions/list", collection: @transactions, as: :transaction, locals: {show_link_to_more: true} %></ol>
        <% end %>
    </fieldset>
  </div>
</main>
    <script id="transaction-show-template" type="text/x-handlebars-template">
           <div class='f7 ml5-ns'>Transaction ID: {{id}}</div>
           <div class='f7 ml5-ns'>Created At: {{created_at}}</div>
           <div class='f7 ml5-ns'>Updated At: {{updated_at}}</div><br/>
            <%# :id, :coin_id, :money_in, :price_per_coin, :quantity, :created_at, :updated_at %>
            <ul class='pl0 f7'>
            {{#each notes}}
                <li class='ml5-ns'><p>Comment on {{updated_at}}:</p> 
                    <p class='pr0-ns pr5' >{{comment}}</p>
                </li>
            {{/each}}
            </ul>
    </script>
    <script id="edit-delete-icons-template" type="text/x-handlebars-template">

        <a data-confirm="Are you sure you'd like to delete this transaction?" class="pr0-ns pr5 delete link black-80"
        rel="nofollow" data-method="delete" href="{{deleteURL}}">
            <i class="fa fa-trash-o">Delete</i>
        </a>
    

        <a class="edit link black-80" href="{{editURL}}">
             <i class="fa fa-pencil">Edit</i>
        </a>
    
    </script>