<main class="pa0 black-80">
  <div class="measure center">
    <%= render partial: "transactions/add" %>
    <fieldset class="ba b--transparent ph0 mh0">
        <legend class="f4 fw6 ph0 mh0"><%= current_user.name %>'s Transaction History</legend>
        <% if current_user.transactions.empty?%>
            <label class="fw6 lh-copy f6">You have no transaction history; create a transaction to get going!</label>
        <% else %>
            <ol class="mr6 pl0 ml0 ba b--light-silver br3"><%= render partial: "transactions/list", collection: @transactions, as: :transaction, locals: {show_link_to_more: true} %></ol>
        <% end %>
    </fieldset>
  </div>
</main>