<%= render partial: "transactions/add" %>
<fieldset>
    <legend><%= current_user.name %>'s Transaction History</legend>
    <% if current_user.transactions.empty?%>
        <p>You have no transaction history; create a transaction to get going!</p>
    <% else %>
        <ol><%= render partial: "transactions/list", collection: @transactions, as: :transaction, locals: {show_link_to_more: true} %></ol>
    <% end %>
</fieldset>