<main class="pa0 black-80">
<div class="tc measure center">
<fieldset class="ba b--transparent ph0 mh0">

<%= render partial: "list", locals: {transaction: @transaction, show_link_to_more: false} %>
<%= link_to user_transaction_path(current_user, @transaction), method: :delete, data: {confirm: "Are you sure you'd like to delete this transaction?"}, class: "delete link black-80" do%>
     <i class="fa fa-trash-o">Delete</i>
<% end %>
<%= link_to edit_user_transaction_path(current_user, @transaction), class: "edit link black-80" do %>
    <i class="fa fa-pencil">Edit</i>
<% end %>

</fieldset>
</div>
</main>